.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}
.home-content p{
    font-size: 16px;
}
.home-content .bnt-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
   
}
.bnt-box a{
     display: inline-flex;
     justify-content:center;
     align-items: center;
     width: 150px;
     height: 100%;
     background: #000000;
     border: 2px solid #ffffff;
     border-radius: 8px;
     font-size: 19px;
     color: #ffffff;
     text-decoration: none;
     font-weight: 600;
     letter-spacing: 1px;

}